<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>

<body>

<h3>
  This is home page. Hello!
</h3>
<p><a href="/goodbye">Say goodbye</a></p>
<p><a href="/calc?a=2&b=4&operation=ADD">Calculate 2 + 4</a></p>
<p><a href="/calc?a=2&b=4&operation=SUB">Calculate 2 - 4</a></p>
<p><a href="/calc?a=2&b=4&operation=MULT">Calculate 2 * 4</a></p>
<p><a href="/calc?a=2&b=4&operation=DIV">Calculate 2 / 4</a></p>
<p><a href="/calc?a=2&b=4&operation=PLUS">Calculate 2 PLUS 4(ERROR)</a>
</body>

</html>